@font-face {
  font-family: 'Number';
  src: url('./DIGITAL-Dream.ttf');
  font-weight: normal;  
  font-style: normal;
}
@font-face {
  font-family: 'Pixel';
  src: url('./Mouse.otf');
  font-weight: normal;  
  font-style: normal;
}